<form class="Messages" action="<%=url_for([@course,@message])%>" method="post">
  <div class="form_div">
    <input name="_method" type="hidden" value="put" />
    <p><%=@message.course_id%></p>
    <p><%=@message.id%></p>
    <p><%=@message.send_date%></p>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <%= text_area_tag 'message[body]', @message.body %>
  </div>    

  <div class="actions">
    <input type="submit" value="Submit" class="submit">
  </div>

</form>
