<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @message.course_id %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>

<p>
  <b>Send date:</b>
  <%= @message.send_date %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
