<p id="notice"><%= notice %></p>

<form class="Messages" action="<%=url_for(send_message_path)%>" method="post">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
<input name="body" type="hidden" value="<%= @message.body %>">

<p>
  <b>Course:</b>
  <%= @message.course_id %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>

<p>
  <b>Send date:</b>
  <%= @message.send_date %>
</p>

<div class="actions">
    <input type="submit" value="Send Message" class="submit">
  </div>

</form>

<%= link_to 'Edit', edit_course_message_path(@message) %> |
<%= link_to 'Back', course_messages_path %>

