<div class="about_content">
	<div id="founder_1" class="founder_wrapper">
		<%=image_tag 'will.jpg'%>
		<div class="founder_title">
			<div class="founder_name">
				<p>Will Mederski</p>
				<p>Co-Founder</p>
			</div>
			<div class="founder_contact">
				<%=link_to image_tag('twitter.png', :class => 'icon'), 'http://twitter.com/willmederski'%>
				<%=link_to image_tag('linkedin.png', :class =>'icon'), 'http://www.linkedin.com/in/willmederski/'%>
				<%=link_to image_tag('facebook.png', :class =>'icon'), 'http://www.facebook.com/willmederski'%>
			</div>
			<div style="display: block; clear: both;"></div>
		</div>
		<div class="founder_details">
			<p>Will spent seven years in politics, working on various grassroots campaigns before moving to Washington, D.C. where he lobbied for reform in a number of arenas including economics, education, science & technology.</p>
			<p>Will brings to the table a never-weary passion for affecting deep cultural change and a designer’s eye on the details.</p>
		</div>
	</div>
	<div id="founder_2" class="founder_wrapper">
		<%=image_tag 'Kevin_Mc_sm.jpg'%>
		<div class="founder_title">
			<div class="founder_name">
				<p>Kevin McCann</p>
				<p>Co-Founder</p>
			</div>
			<div class="founder_contact">
				<%=link_to image_tag('twitter.png', :class => 'icon'), 'http://twitter.com/holdtheonion/'%>
				<%=link_to image_tag('linkedin.png', :class =>'icon'), 'http://linkedin.com/in/kevincmccann/'%>
				<%=link_to image_tag('facebook.png', :class =>'icon'), 'http://facebook.com/kevincmccann/'%>
			</div>
			<div style="display: block; clear: both;"></div>
		</div>
		<div class="founder_details">
			<p>Kevin believes that early education is the most important factor in the development of the next generation. Prior to BringUp, Kevin designed entertainment lighting control consoles used on Broadway, at Saturday Night Live and in event venues across the world. He moved to Austin for a stint in semiconductor marketing as well to develop his interaction design skills.</p>
			<p>Kevin reaches out to partner schools and teachers to help spread the value of BringUp. He also leads development.</p>
		</div>
	</div>
	<div style="display: block; clear: both;"></div>
</div>