<div id='messages-url' data-url='<%= course_messages_path(@course, format: 'json') %>'></div>
<div id='this-weeks-monday' data-date='<%= Time.zone.now.beginning_of_week %>'></div>
<div id='select-monday' data-date='<%= @select %>'></div>

<div class="coursewrapper">
	<div class="leftcard">
		<div id="todays_message">
			<div class="todays_message_wrapper">
				<h3>Today's Message: </h3>
				<% if @course.messages.find_by_send_date(Time.now.to_date) %>
					<p><%= @course.messages.find_by_send_date(Time.now.to_date).body %></p>
				<form class="Messages" action="<%=url_for(send_message_path(@course.id))%>" method="post">
					<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
					<input name="body" type="hidden" value="<%= @course.messages.find_by_send_date(Time.now.to_date).body %>">
					<div class="actions">
			    		<input type="submit" value="Send Today's Message" class="submit" style="width:150px">
			  		</div>
				</form>
				<% else %>
					<p>You haven't saved a message for today yet. Please use the form below to submit one.</p>
				</br>
				<% end %>
			</div>
		</div>

		<% current_teacher.courses.each do |course| %>
			<% if course.name == @course.name %>
				<div class= "courseselect">
					<%= link_to course.name, course %>
					<h5><%= link_to 'Edit', edit_course_path(course.id) %> | <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
				</div>
			<% else %>
				<div class= "courselist">
					<%= link_to course.name, course %>
				</div>
			<% end %>
		<% end %>
		<div class= "courselist">
			<%= link_to '+ Add Course', new_course_path %>
		</div>
	</div>

	<div class="centercard">
		
		<%= render 'messages' %>

	</div>

	<div class = "rightcard">
		<div class = "datepicker"></div>
		<div class = "killswitch">
			<div id = "on" class = "switch activeswitch">ON</div>
			<div id = "off" class = "switch">OFF</div>
			<div style="display: block; clear: both;"></div>
		</div>
		<div class="parent_list">
			<h3 class="submit"><%= link_to 'Generate Parent PDF', generate_pdf_course_path(@course)%></h3>
			<h3 class="submit"><%= link_to '+ Add Recipients', new_parent_path(:add_param => @course.id) %></h3>
			<h3 class="showparent">Show/Hide Parent List (<%=@parents.length%>)</h3>
			<% @parents.each do |parent| %>
				<div class="parent_item">
					<ul>
					<li><h3><%=parent.first_nm%> <%=parent.last_nm%></h3></li>
					<li>Student: <em><%=parent.child_nm%></em></li>
						<li><%=parent.phone_number%></li>
						<li><%= link_to 'Show', parent %> | <%= link_to 'Edit', edit_parent_path( parent,add_param: @course.id ) %> | <%= link_to 'Destroy', parent_path(parent, add_param: @course.id), method: :delete, data: { confirm: 'Are you sure?'} %>
						</li>
					</ul>
				</div>
			<% end %>
		</div>
			
	</div>
	</div>

	


	<div style="display: block; clear: both;"></div>

</div>
