<div class="formcard">
<h2>My Contacts</h2>

<table>
  <tr>
    <th>Class code</th>
    <th>Phone number</th>
    <th>First nm</th>
    <th>Last nm</th>
    <th>Child nm</th>
    <th>Relationship</th>
    <th>Delivery time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

    <% @approved = current_teacher.courses %>

    <% @approved.each do |course| %>
        <% @parents = Parent.find_all_by_class_code(course[:id]) %>
        <% @parents.each do |parent| %>
          <tr>
            <td><%= parent.class_code %></td>
            <td><%= parent.phone_number %></td>
            <td><%= parent.first_nm %></td>
            <td><%= parent.last_nm %></td>
            <td><%= parent.child_nm %></td>
            <td><%= parent.relationship %></td>
            <td><%= parent.delivery_time %></td>
            <td><%= link_to 'Show', parent %></td>
            <td><%= link_to 'Edit', edit_parent_path(parent) %></td>
            <td><%= link_to 'Destroy', parent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    <% end %>
</table>

<br />
</div>