
<p id="notice"><%= notice %></p>
<div class="formcard">
  <p>
    <b>Phone number:</b>
    <%= @parent.phone_number %>
  </p>

  <p>
    <b>First name:</b>
    <%= @parent.first_nm %>
  </p>

  <p>
    <b>Last name:</b>
    <%= @parent.last_nm %>
  </p>

  <p>
    <b>Child name:</b>
    <%= @parent.child_nm %>
  </p>

  <p>
    <b>Relationship:</b>
    <%= @parent.relationship %>
  </p>

  <p>
    <b>Delivery time:</b>
    <%= @parent.delivery_time %>
  </p>


  <%= link_to 'Back', course_path(@parent.class_code) %>
</div>