<!DOCTYPE html>
<html>
<head>
  <title>BringUp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header">
		<h1>bringup</h1>
		<div class="navbar">
			<% if current_teacher.present? %>
		  		<%= link_to 'Sign Out', destroy_teacher_session_path, :method => :delete %>
			<% else %>
		  		<%= link_to 'Sign In', new_teacher_session_path %> |
		  		<%= link_to 'Register Now!', new_teacher_registration_path %>
			<% end %>
		</div>
	</div>

	<div class="card">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<%= yield %>
	</div>

</body>
</html>
