<!DOCTYPE html>
<html>
<head>
  <title>BringUp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "pages.css.scss", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="landing_header">
		<h1><%= link_to 'bringup', :root %></h1>
		<div class="navbar">
			<% if current_teacher.present? %>
				Welcome, <%=current_teacher.full_name%>  |  
				<%= link_to 'My Account', courses_path %>  |  
				<%= link_to 'About', about_path %>  |  
				<%= link_to 'Contact', '#' %>  |  
		  		<%= link_to 'Sign Out', destroy_teacher_session_path, :method => :delete %>
			<% else %>
				<%= link_to 'About', about_path %>  |  
				<%= link_to 'Contact', '#' %>  | 
		  		<%= link_to 'Sign In', new_teacher_session_path %> |
		  		<%= link_to 'Register Now!', new_teacher_registration_path %>
			<% end %>
		</div>
	</div>

		<%= yield %>

	<div class="footer">
		<div class="copyright">
			<p>Copyright 2013 bringup | All Rights Reserved | Web Development by Patricia Silva and Lydia Guarino</p>
		</div>
		<div class="footer_contact">
			<%=link_to image_tag('twitter.png', :class => 'icon'), 'http://www.twitter.com/bringuptogether'%>
			<%=link_to image_tag('facebook.png', :class =>'icon'), 'http://www.facebook.com/bringuptogether'%>
		</div>
	</div>

</body>
</html>