<!DOCTYPE html>
<html>
<head>
  <title>BringUp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="landing_header">
		<h1><%= link_to 'bringup', :root %></h1>
		<div class="navbar">
			<% if current_teacher.present? %>
				Welcome, <%=current_teacher.full_name%>  |  
				<%= link_to 'My Account', courses_path %>  |  
				<%= link_to 'About', '#' %>  |  
				<%= link_to 'Contact', '#' %>  |  
		  		<%= link_to 'Sign Out', destroy_teacher_session_path, :method => :delete %>
			<% else %>
				<%= link_to 'About', '#' %>  |  
				<%= link_to 'Contact', '#' %>  | 
		  		<%= link_to 'Sign In', new_teacher_session_path %> |
		  		<%= link_to 'Register Now!', new_teacher_registration_path %>
			<% end %>
		</div>
	</div>

		<%= yield %>

</body>
</html>